{% extends "core/index.html" %}

{% block secondheader %}
    <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/colorbox.css" />
    <script src="{{ STATIC_URL }}js/jquery.colorbox.js"></script>    
{% endblock %}

{% block content %}
<h1 class="producttitle small-header">Б.у. запчасти для {{ page.title }}</h1>
 <hr class="hr-light" color="#EEE" size="1" />
 <div class="photofiles">
 {% for i in modificationimages %}
     <a class="group1 cboxElement" data-rel="hi" href="{{ i.get_picture_url }}" title="{{ i.title }}"><img width="120" class="poster-image" alt="{{ i.title }}" src="{{ i.get_picture_url }}"></a>
 {% endfor %}
 </div>
 <div class="information noboth">
     {{ page.body|safe }}
     <br />
     <br />
 </div>
 <div class="information noboth">
     {% for p in parts %}
     <div class="part-item bottomline">
        {% if p.preview_picture %}
        <a href="/parts/{{ p.urlname }}.html"><img class="parts-image" height="36" alt="{{ p.title }}" align="left" src="{{ p.thumbnail_url_small }}"></a>
        {% endif %}
        <div class="item-text">
          <a class="underline" href="/parts/{{ p.urlname }}.html" alt="{{ p.title }}"> {{ p.title }} </a> 
        </div>
     </div>
     {% endfor %}
 </div> <!--information-->
{% endblock %}
